@media print {
	.sidebar .sidebar-scroll{
		display: none;
	}
	.sidebar-full #sidebar
	{
		display: none;
	} 
	.sidebar-content
	{
		display: none;
	}
	.sidebar-full #main-container
	{
		margin-left: 0px!important ;
	}
	.navbar .navbar-default
	{
		display: none;
	}
	.content-header
	{
		display: none;
	}
	.breadcrumb {
		display: none;
	}
	.block
	{
		border: 0px;
		margin: 0px;
		padding: 0px;
	}
	footer
	{
		display: none;
	}
	.dataTables_length
	{
		display: none;
	}
	.dataTables_filter
	{
		display: none;
	}
	.dataTables_info
	{
		display: none;
	}
	.dataTables_paginate
	{
		display: none;
	}
	.table tfoot
	{
		display: none;
	}
	.btn 
	{
		display: none;
	}
	body
	{
		font-family: arial;
		margin-top: 20px;
		margin-left: 50px;
		margin-bottom: 200px;
	}
	tr
	{
		font-size: 10px;
	}
	hr
	{
		border-top: 1px solid #000;
	}

}