<div class="block-title hidden"><h2></h2></div>

<div id="pesan" class="hidden">
	<div role="alert"></div>
	<div class="btn-group">
		<button class="btn btn-sm btn-info" onclick="loadFile('kembali')"><i class="fa fa-chevron-left"></i> Kembali</button>
		<button class="btn btn-sm btn-info" onclick="loadMenu('020502')"><i class="fa fa-pencil-square-o"></i> Book</button>
	</div>
</div>

<form class="form-horizontal" onsubmit="return false;">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Unit Pilihan</label>
		<div id="unit-book" class="col-sm-5 btn-group"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Kode Unit</label>
		<div class="col-sm-5">
			<input type="text"  name="kode_unit" class="form-control form-unit" placeholder="Kode Unit" disabled />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Deskripsi</label>
		<div class="col-sm-5">
			<textarea name="deskripsi_unit" class="form-control form-unit" rows="3" disabled>Deskripsi Unit</textarea>
		</div>
	</div>
	<div class="form-group hidden">
		<label class="col-sm-2 control-label" for="input-normal">Jumlah Peminat</label>
		<div class="col-sm-5">
			<input type="text"  name="jumlah_peminat" class="form-control form-unit" placeholder="Belum Ada" disabled />
		</div>
	</div>
	<div class="form-group">
		<div class="btn-group col-sm-5 col-sm-offset-2">
			<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
				<i class="fa fa-arrow-circle-left"></i> Kembali
			</button>
			<button id="button-simpan" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Booking</button>
		</div>
	</div>
</form>
<div class="clear-fix" ></div>
