<div class="block-title hidden"><h2></h2></div>

<div id="pesan" class="hidden">
	<div role="alert"></div>
	<div class="btn-group">
		<button class="btn btn-sm btn-info" onclick="loadFile('kembali')"><i class="fa fa-chevron-left"></i> Kembali</button>
		<button class="btn btn-sm btn-info" onclick="loadMenu('020501')"><i class="fa fa-pencil-square-o"></i> Pre Book</button>
		<button class="btn btn-sm btn-info" onclick="loadMenu('020502')"><i class="fa fa-pencil-square-o"></i> Book</button>
	</div>
</div>

<form class="form-horizontal" onsubmit="return false;">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Costumer Name</label>
		<div class="col-sm-5">
			<input type="text"  name="nama_pelanggan" class="form-control form-pelanggan" placeholder="Costumer Name" disabled />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Address</label>
		<div class="col-sm-5">
			<textarea name="alamat_pelanggan" class="form-control form-pelanggan" rows="3" disabled></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">City / Pos Code</label>
		<div class="col-sm-5 form-inline">
			<input type="text"  name="kota_domisili" class="form-control form-pelanggan" placeholder="City or District" disabled />
			&nbsp;/&nbsp;
			<input type="text"  name="kode_pos_domisili" class="form-control form-pelanggan" placeholder="Pos Code" disabled />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Telp / Fax</label>
		<div class="col-sm-5 form-inline">
			<input type="text"  name="telepon_domisili" class="form-control form-pelanggan" placeholder="Phone Number" disabled />
			&nbsp;/&nbsp;
			<input type="text"  name="fax_domisili" class="form-control form-pelanggan" placeholder="Phone Number" disabled />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Mobile Phone</label>
		<div class="col-sm-5">
			<div class="input-group">
				<input type="text"  name="telepon_seluler" class="form-control form-pelanggan" placeholder="Phone Number" disabled />
				<input type="hidden" name="kode_negara_seluler" class="form-control form-pelanggan" value="62" />
				<div class="input-group-addon">Indonesia</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Email</label>
		<div class="col-sm-5">
			<input type="email"  name="email" class="form-control form-pelanggan" placeholder="Email Address" disabled />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">D.O.B</label>
		<div class="col-sm-5 form-inline">
			<div class="input-group">
				<input type="text" name="kota_kelahiran" class="form-control form-pelanggan" placeholder="Place of Birth" disabled />
				<input type="hidden" name="tanggal_kelahiran" class="form-pelanggan" value="01-01-1980" />
				<div class="input-group-addon" id="dpDate">01-01-1980</div>
				<div class="input-group-addon" id="dpYears" data-date="01-01-1980" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
					<i class="fa fa-calendar" style="cursor: pointer"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Gender</label>
		<div class="col-sm-6">
			<label class="radio-inline">
				<input id="index_jantan" type="radio" name="jenis_kelamin" class="form-pelanggan" value="1" disabled /> Male
			</label>
			<label class="radio-inline">
				<input id="index_betina" type="radio" name="jenis_kelamin" class="form-pelanggan" value="2" disabled /> Female
			</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Company</label>
		<div class="col-sm-5">
			<input type="text"  name="nama_perusahaan" class="form-control form-pelanggan" placeholder="Company Name" disabled />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Contact</label>
		<div class="col-sm-5">
			<input type="text"  name="kontak_perusahaan" class="form-control form-pelanggan" placeholder="Contact Person" disabled />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Position</label>
		<div class="col-sm-5">
			<input type="text"  name="posisi_kontak" class="form-control form-pelanggan" placeholder="Position" disabled />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Mailing</label>
		<div class="col-sm-6">
			<label class="radio-inline">
				<input type="radio" name="kotak_surat" class="form-pelanggan" value="1" checked disabled /> Home
			</label>
			<label class="radio-inline">
				<input type="radio" name="kotak_surat" class="form-pelanggan" value="2" disabled /> Company
			</label>
			<label class="radio-inline">
				<input type="radio" name="kotak_surat" class="form-pelanggan" value="3" disabled /> Other
			</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Status</label>
		<div class="col-sm-6">
			<label class="radio-inline">
				<input type="radio" name="status_kepemilikan" class="form-pelanggan" value="1" checked disabled /> Individual
			</label>
			<label class="radio-inline">
				<input type="radio" name="status_kepemilikan" class="form-pelanggan" value="2" disabled /> Combined
			</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">NPWP</label>
		<div class="col-sm-5">
			<input type="text"  name="npwp" class="form-control" placeholder="NPWP Number" disabled />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Remark</label>
		<div class="col-sm-5">
			<input type="text"  name="remark" class="form-control form-pelanggan" placeholder="Remark" disabled />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">Interest</label>
		<div class="col-sm-6">
			<label class="radio-inline">
				<input type="radio" name="ketertarikan" class="form-pelanggan" value="1" checked disabled /> Interest
			</label>
			<label class="radio-inline">
				<input type="radio" name="ketertarikan" class="form-pelanggan" value="2" disabled /> Reminded
			</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-normal">ID Number</label>
		<div class="col-sm-5">
			<input type="text"  name="id_identititas" class="form-control form-pelanggan" placeholder="ID Number" disabled />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3 btn-group tambah hidden">
			<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
				<i class="fa fa-arrow-circle-left"></i> Kembali
			</button>
			<button id="button-tambah" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Simpan</button>
		</div>
		<div class="col-sm-9 col-sm-offset-3 btn-group sunting hidden">
			<button id="button-batal" class="btn btn-sm btn-info"><i class="fa fa-times"></i> Batal</button>
			<button id="button-simpan" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Simpan</button>
		</div>
		<div class="col-sm-9 col-sm-offset-3 btn-group rincian hidden">
			<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
				<i class="fa fa-arrow-circle-left"></i> Kembali
			</button>
			<button id="button-sunting" class="btn btn-sm btn-info"><i class="fa fa-pencil-square-o"></i> Sunting</button>
			<button id="button-hapus" class="btn btn-sm btn-warning"><i class="fa fa-trash-o"></i> Hapus</button>
		</div>
	</div>
</form>
<div class="clear-fix"></div>
