<div class="table-responsive">
	<table id="tabel-unit" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Tipe</th>
				<th>Harga</th>
				<th>Peminat</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
<div class="clear-fix"></div>
