<div class="table-responsive">
	<table id="tabel-pelanggan" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Nomer Registrasi</th>
				<th>Nama</th>
				<th>Alamat</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
<div class="clear-fix"></div>
