<div class="block-title"><h2></h2></div>

<div id="pesan" class="hidden">
	<div role="alert"></div>
	<button id="button-selesai" class="btn btn-sm btn-info">
		<i class="fa fa-chevron-left"></i> Kembali
	</button>
</div>

<form class="form-horizontal" onsubmit="return false;">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">User ID</label>
			<div class="col-sm-2">
				<input type="text"  name="usr_id" class="form-control" placeholder="Kode" required />
			</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Nama</label>
			<div class="col-sm-3">
				<input type="text" name="usr_nama" class="form-control" placeholder="Nama" required />
			</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Group</label>
			<div class="col-sm-3">
				<select id="option-group" name="grup_id" class="form-control" size="1"></select>
			</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3 btn-group tambah hidden">
			<button id="button-kembali" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> Kembali</button>
			<button id="button-simpan" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Simpan</button>
		</div>
		<div class="col-sm-9 col-sm-offset-3 btn-group sunting hidden">
			<button id="button-batal" class="btn btn-sm btn-info"><i class="fa fa-times"></i> Batal</button>
			<button id="button-simpan" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Simpan</button>
		</div>
		<div class="col-sm-9 col-sm-offset-3 btn-group rincian hidden">
			<button id="button-kembali" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> Kembali</button>
			<button id="button-sunting" class="btn btn-sm btn-info"><i class="fa fa-pencil-square-o"></i> Sunting</button>
			<button id="button-hapus" class="btn btn-sm btn-warning"><i class="fa fa-trash-o"></i> Hapus</button>
		</div>
	</div>
</form>
<div class="clear-fix" ></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "form_user.js");
</script>
