<div class="table-responsive">
	<table id="tabel-grup" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Nama</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Nama</th>
			</tr>
		</tfoot>
		<tbody></tbody>
	</table>
</div>
<div class="clear-fix"></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "view_grup.js");
</script>
